/* asul-regular - latin */
@font-face {
    font-family: 'Asul';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/asul-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/asul-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/asul-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/asul-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/asul-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/asul-v19-latin-regular.svg#Asul') format('svg'); /* Legacy iOS */
  }
  


body{
    margin: 0;
}

.container{
    display: grid;

    grid-template-columns: 150px auto;
    
    font-family: Asul;
    background-color: rgb(131, 210, 255);
}

.navBar{
    text-align: center;
    min-height:100vh;
    background-color: rgb(63, 150, 221);
}

.navBar button{
    background: none;
    border: none;
    width:150px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navBar button:hover{
    background-color: rgb(92, 184, 245);
}

#legend{
    align-items: center;
    margin-top: 500px;
}
#legend img{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
}

#libraryContainer{
    margin-top: 30px;
    justify-items: center;
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(auto-fit , 200px);
    grid-auto-rows: 230px;
}


.bookCard{
    text-align: center;
    width:150px;
    height: 175px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px grey;
    background-color: whitesmoke;
}
.bookCard p{
    margin:16px;
    height: 18px;
}
.bookCard h2{
                                  
}
.bookCard button{
    margin: 5px;
}
.bookCard:hover{
    box-shadow: 0px 0px 4px 2px grey;
}

form{
    width: fit-content;
    width: 183px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    background-color:rgb(251, 255, 255);
}
form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 10px;

    background-color: rgb(255, 255, 255);
}
form button{
    padding: 5px;

    border-radius: 10px;

    background-color: aliceblue;
}
form button:hover{
    background-color: rgb(200, 226, 248);
}

#newBookForm{
    display: none;
    position: fixed;
    top: calc(50% - 182px);
    left: calc(50% - 91px);
}